*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.item1{
    background-color: coral;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    text-align: justify;
}
.item2{
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    text-align: justify;
}
.item3{
    background-color: lightpink;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    text-align: justify;
}
.item4{
    background-color: lightyellow;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    text-align: justify;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}