*{
    background-color: turquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#form{
    background-color: white;
    border-radius: 5px;
}
#form input{
    background-color: aqua;
}
#remarks{
    background-color: aqua;
}
#p1{
    background-color: white;
}