#title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
#box{
    height: 300px;
    width: 500px;
    margin: auto;
    background-color: blue;
    color: white;
    align-items: center;
    border-radius: 20px;
}
#box.p{
    padding: auto;

}