#header{
    text-align: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
#p102{
    font-family:Georgia, 'Times New Roman', Times, serif;
}