*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #f5f7fa, #5493fa);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    padding: 20px;
}