.animate{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: color 2s infinite alternate;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@keyframes color {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: yellow;
    }

    100% {
        background-color: blue;
    }
}
