.box{
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: diagonal 3s infinite alternate;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
@keyframes diagonal {
    0% {
        transform: translate(0, 0);
        background-color: blue;
    }
    25% {
        transform: translate(100px, 100px);
        background-color: purple;
    }
    50% {
        transform: translate(200px, 200px);
        background-color: pink;
    }
    75% {
        transform: translate(100px, 300px);
        background-color: cyan;
    }
    100% {
        transform: translate(0, 0);
        background-color: blue;
    }
}