.div{
    color: #fdf0d5;
    font-family:sans-serif;
}
*{
    background-color:  #669bbc;
    margin: none;
    padding: none;
}
h1{
    margin: none;
    padding:0;
}
#101{
    height: 100px;
    width: 100px;
    background-color: red;
}